{:objects
 {:SimpleMetric
  {:description "metric value at a given timestamp"
   :fields
   {:timestamp {:type String}
    :value {:type Float}}}
  :Group
  {:description "collection of things"
   :fields
   {:id {:type String}
    :name {:type String}}}
  :ComplexMetric
  {:description "nested metric type"
   :fields
   {:group {:type Group}
    :value {:type Float}
    :value_list {:type (list :SimpleMetric)}
    :time {:type :SimpleMetric}}}
  :Event
  {:description "something happened at time or span"
   :fields
   {:timestamp {:type (non-null String)}
    :end_timestamp {:type String}
    :name {:type (non-null String)}
    :description {:type String}
    :tags {:type (list String)}}}}

 :queries
 {:simple_series
  {:type (list :SimpleMetric)
   :description "Simple metric timeseries"
   :args
   {:from {:type (non-null String)}
    :to {:type (non-null String)}
    :interval_ms {:type Int :default-value 60000}
    :format {:type String
             :description "https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#patterns"}}
   :resolve :query/simple-series}
  :complex_series
  {:type (list :ComplexMetric)
   :description "Complex metric timeseries"
   :args
   {:from {:type (non-null String)}
    :to {:type (non-null String)}
    :interval_ms {:type Int :default-value 60000}
    :group_id {:type String}}
   :resolve :query/complex-series}
  :events
  {:type (list :Event)
   :description "Events with optional end time"
   :args
   {:from {:type (non-null String)}
    :to {:type (non-null String)}
    :format {:type String
             :description "https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#patterns"}
    :count {:type Int :default-value 10}
    :end {:type Boolean :default-value false}}
   :resolve :query/events}
  :groups
  {:type (list :Group)
   :description "Get your dashboard variables here"
   :resolve :query/groups}}

 :subscriptions
 {:metric
  {:type :SimpleMetric
   :description "Simple streaming metric"
   :args
   {:refresh {:type Int :default-value 1000 :description "refresh interval in milliseconds"}}
   :stream :subscription/metric
   }}}
