{:objects
 {:SimpleMetric
  {:description "metric value at a given timestamp"
   :fields
   {:timestamp {:type String}
    :value {:type Float}}}
  :ComplexMetric
  {:description "nested metric type"
   :fields
   {:group {:type String}
    :value {:type Float}
    :value_list {:type (list :SimpleMetric)}
    :time {:type :SimpleMetric}}}}

 :queries
 {:simple_series
  {:type (list :SimpleMetric)
   :description "Simple metric timeseries"
   :args
   {:from {:type (non-null String)}
    :to {:type (non-null String)}
    :interval_ms {:type Int :default-value 60000}}
   :resolve :query/simple-series}
  :complex_series
  {:type (list :ComplexMetric)
   :description "Complex metric timeseries"
   :args
   {:from {:type (non-null String)}
    :to {:type (non-null String)}
    :interval_ms {:type Int :default-value 60000}}
   :resolve :query/complex-series}}}
